@use '@/shared/styles/mixins' as *;

.root {
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  justify-content: space-between;
  gap: var(--space-3);
}

.modes {
  max-width: 100%;
  overflow-x: auto;

  @include hide-scrollbar;
}

.tier {
  min-width: 180px;

  @include below(md) {
    width: 100%;
  }
}
