@use '@/shared/styles/mixins' as *;

.root {
  @include chip-group;
}

.chip {
  @include chip;
}

.icon {
  display: inline-flex;
}

.sm .chip {
  min-width: var(--control-h-sm);
  height: var(--control-h-sm);
  padding: 0 var(--space-3);
}
