@use '@/shared/styles/mixins' as *;

.root {
  display: block;
  background-color: var(--color-surface-hover);

  @include pulse;
}

.line {
  height: 0.9em;
  border-radius: var(--radius-xs);
}

.block {
  border-radius: var(--radius-sm);
}

.circle {
  border-radius: var(--radius-full);
}
