@use '@/shared/styles/mixins' as *;

.root {
  @include surface-box;

  position: relative;
  padding: var(--space-5);

  @include stack(var(--space-5));
}

.divider {
  display: block;
  height: 1px;
  background: var(--color-border);
  content: '';
}
