@use '../../../../../shared/styles/gameface' as *;

.plate {
  min-width: 250px;
}

.totals {
  display: flex;
  min-height: 20px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.divider {
  height: 1px;
  margin: 3px 0;
  background-color: rgb(255 255 255 / 8%);
}

.row {
  display: flex;
  height: 20px;
  flex-direction: row;
  align-items: center;
  margin-top: 2px;
  opacity: 0.86;
}

.newest {
  opacity: 1;
}

.amount {
  min-width: 42px;
  margin-right: 6px;
  font-size: 15px;
  font-weight: 700;
  text-align: right;
}

.shell {
  display: flex;
  padding-bottom: 1px;
  border-bottom: 2px solid rgb(0 0 0 / 0%);
  margin-right: 4px;
}

.gold {
  border-bottom-color: token(color-gold);
}

.icon {
  margin-right: 4px;
}

.name {
  @include ellipsis;

  max-width: 120px;
  margin-right: 4px;
  color: token(color-text);
  font-size: 13px;
}
