@use '../../../../shared/styles/gameface' as *;

.plate {
  padding: 5px 9px 6px;
}

.box {
  display: flex;
  min-width: 190px;
  max-width: 340px;
  flex-direction: column;
}

.footer {
  margin-top: 3px;
  color: token(color-text-muted);
  font-size: 11px;

  @include ellipsis;
}
