@use '@/shared/styles/mixins' as *;

.grid {
  display: grid;
  padding: 0;
  margin: 0;
  gap: var(--space-3);
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  list-style: none;
}

.card {
  display: flex;
  align-items: center;
  padding: var(--space-3) var(--space-4);
  border-radius: var(--radius-md);
  background-color: var(--color-surface);
  gap: var(--space-3);

  @include accent-outline-hover(var(--color-text));
}

.icon {
  flex-shrink: 0;
  color: var(--color-text-dim);
}

.badge {
  margin-left: auto;
}
