@use '@/shared/styles/mixins' as *;

.root {
  @include stack(var(--space-5));
}

.head {
  display: flex;
  align-items: center;
  gap: var(--space-5);
}

.lines {
  @include stack(var(--space-3));
}
