@use '@/shared/styles/mixins' as *;

.root {
  @include numeric;

  color: var(--color-text-muted);
  font-size: var(--text-sm);
  white-space: nowrap;

  @include below(lg) {
    display: none;
  }
}
