@use '@/shared/styles/mixins' as *;

.root {
  display: grid;
  align-items: start;
  gap: var(--space-6);
  grid-template-columns: minmax(0, 380px) minmax(0, 1fr);

  @include below(3xl) {
    grid-template-columns: minmax(0, 1fr);
  }
}

.side {
  @include stack(var(--space-4));

  position: sticky;
  top: calc(var(--header-height) + var(--space-4));

  @include below(3xl) {
    position: static;
  }
}

.main {
  @include stack(var(--space-4));

  min-width: 0;
}
