@use '@/shared/styles/mixins' as *;

.root {
  display: grid;
  align-items: start;
  gap: var(--space-3);
  grid-template-columns: repeat(2, minmax(0, 1fr));

  @include below(md) {
    grid-template-columns: 1fr;
  }
}
