@use '@/shared/styles/mixins' as *;

.root {
  overflow-x: auto;
  scroll-margin-top: calc(var(--header-height) + var(--space-4));
}

.header {
  padding: 0 var(--space-4);
}

.table {
  width: 100%;
  border-collapse: collapse;

  &[data-stale='true'] {
    opacity: 0.6;
  }

  th {
    @include label;

    height: 32px;
    padding: 0 var(--space-4);
    border-bottom: 1px solid var(--color-border-strong);
    background-color: var(--color-surface-raised);
    text-align: right;

    &:nth-child(2) {
      text-align: left;
    }
  }
}

.caption {
  @include sr-only;
}
