@use '@/shared/styles/mixins' as *;

.root {
  @include stack(var(--space-4));

  padding: var(--space-4);

  @include below(sm) {
    padding: var(--space-3);
  }
}

.grid {
  display: grid;
  padding: 0;
  margin: 0;
  gap: var(--space-3);
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  list-style: none;

  @include below(sm) {
    grid-template-columns: minmax(0, 1fr);
  }
}

.more {
  align-self: center;
}
