@use '../../../../shared/styles/gameface' as *;

.lamp {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $font-family;
  text-shadow:
    0 0 2px rgb(0 0 0 / 90%),
    1px 1px 1px rgb(0 0 0 / 90%);
}

.text {
  margin-top: 2px;
  font-size: 15px;
  font-weight: 700;
}

.seconds {
  margin-top: 2px;
  font-size: 22px;
  font-weight: 700;
}
