@use '@/shared/styles/mixins' as *;

.root {
  @include page(var(--space-4));
}

.grid {
  display: grid;
  align-items: start;
  gap: var(--space-4);
  grid-template-columns: minmax(0, 1fr) 360px;

  @include below(3xl) {
    grid-template-columns: 1fr;
  }
}
