@use '@/shared/styles/mixins' as *;

.root {
  display: grid;
  gap: var(--gap-panel);
  grid-template-columns: minmax(0, 3fr) minmax(0, 2fr);

  @include below(2xl) {
    grid-template-columns: minmax(0, 1fr);
  }
}

.chart {
  padding: var(--space-3);
}
