@use '@/shared/styles/mixins' as *;

.root {
  min-width: 0;
}

.list {
  display: grid;
  align-items: end;
  padding: 0;
  margin: 0;
  gap: var(--space-5);
  grid-template-columns: repeat(3, minmax(0, 1fr));
  list-style: none;

  @include below(md) {
    grid-template-columns: minmax(0, 1fr);
  }
}
