@use '@/shared/styles/mixins' as *;

.figures {
  display: grid;
  gap: var(--space-4);
  grid-template-columns: repeat(2, minmax(0, 1fr));

  @include below(sm) {
    grid-template-columns: minmax(0, 1fr);
  }
}
