@use '@/shared/styles/mixins' as *;

.root {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  gap: var(--space-2);
  list-style: none;
}

.tag {
  @include chip;

  text-decoration: none;
}
