@use '@/shared/styles/mixins' as *;

.root {
  display: flex;
  min-height: 100dvh;
  flex-direction: column;
}

.skip {
  @include skip-link;
}

.main {
  min-height: calc(100dvh - var(--header-offset));
  flex: 1;

  &:focus {
    outline: none;
  }
}
