@use '@/shared/styles/mixins' as *;

.root {
  @include stack(var(--space-4));
}

.actions {
  display: grid;
  gap: var(--space-3);

  @include from(xl) {
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: column;
  }
}

.skeleton {
  height: var(--control-h-lg);
}
