@use '@/shared/styles/mixins' as *;

.root {
  min-width: 0;
}

.title {
  @include label;
}

.list {
  @include grid-columns(3, $gap: null, $below-xl: 2, $below-md: 1);

  align-content: start;
  padding: 0 var(--space-4) var(--space-3);
  margin: 0;
  column-gap: var(--space-7);
}
