@use '@/shared/styles/mixins' as *;

.root {
  display: grid;
  overflow: hidden;
  height: 560px;
  padding: var(--space-6);
  border: 1px solid var(--color-border);
  background-color: var(--color-surface-sunken);
  gap: var(--space-5);
  grid-template-columns: repeat(10, minmax(140px, 1fr));

  @include below(md) {
    height: 440px;
  }
}

.column {
  @include stack(var(--space-3));

  align-items: center;
}
