@use '@/shared/styles/mixins' as *;

.root {
  --xy-background-color: transparent;

  width: 100%;
  height: 100%;
  cursor: grab;
  touch-action: none;

  &:active {
    cursor: grabbing;
  }

  @include coarse {
    touch-action: pan-y;
  }
}

.root :global(.react-flow__attribution) {
  padding: 2px 6px;
  background: transparent;
  font-size: var(--text-2xs);

  a {
    color: var(--color-text-dim);
  }
}
