@use '@/shared/styles/mixins' as *;

.list {
  @include stack(var(--space-3));
}

.label {
  display: inline-flex;
  align-items: center;
  gap: var(--space-2);

  svg {
    color: var(--color-text-muted);
  }
}
