@use '@/shared/styles/mixins' as *;

.root {
  display: flex;
  flex-wrap: wrap;
  margin-top: var(--space-2);
  gap: var(--space-3);

  @include below(sm) {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
  }
}
