@use '@/shared/styles/mixins' as *;

.root {
  @include panel;

  display: flex;
  overflow: hidden;
  padding: var(--space-3);
  gap: var(--space-3);
}

.column {
  @include stack(var(--space-4));

  min-width: 150px;
  flex: 1 0 150px;
}
