@use '@/shared/styles/mixins' as *;

.list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  margin: 0;
  gap: var(--space-2);
  list-style: none;
}

.item {
  @include label;

  display: inline-flex;
  align-items: center;
  font-size: var(--text-xs);
  gap: var(--space-2);

  & + &:before {
    color: var(--color-text-dim);
    content: '›';
  }

  &[data-last] {
    color: var(--color-accent);
  }
}

.link {
  color: inherit;

  &:hover {
    color: var(--color-text);
  }

  &:focus-visible {
    @include focus-ring;
  }
}
