@use '@/shared/styles/mixins' as *;

.root {
  @include shell;
  @include stack(var(--space-6));

  padding-top: var(--space-7);
}

.slots {
  display: grid;
  gap: var(--gap-panel);
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}
