@use '@/shared/styles/mixins' as *;

.root {
  @include stack(0);
}

.content {
  @include page(var(--space-5));
}

.grid {
  display: grid;
  padding: 0;
  margin: 0;
  gap: var(--space-4);
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 19rem), 1fr));
  list-style: none;
}

.more {
  align-self: center;
}
