@use '@/shared/styles/mixins' as *;

.root {
  display: flex;
  min-width: 0;
  flex-direction: column;
  padding: var(--space-3) var(--space-4);
  gap: var(--space-2);
}

.label {
  @include label;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.value {
  @include numeric(var(--num-md));

  color: var(--color-text);
  white-space: nowrap;
}
