@use '@/shared/styles/mixins' as *;

.root {
  display: grid;
  align-items: start;
  gap: var(--gap-panel);
  grid-template-columns: minmax(0, 3fr) minmax(0, 2fr);

  @include below(3xl) {
    grid-template-columns: minmax(0, 1fr);
  }
}
