@use '@/shared/styles/mixins' as *;

.list {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
  gap: var(--space-2);
}

.tank {
  @include well;

  display: flex;
  align-items: center;
  padding: var(--space-1) var(--space-2);
  font-size: var(--text-sm);
  gap: var(--space-2);
}
