@use '@/shared/styles/mixins' as *;

.layout {
  display: grid;
  gap: var(--space-4);
  grid-template-columns: minmax(0, 1.2fr) minmax(0, 1fr);

  @include below(3xl) {
    grid-template-columns: minmax(0, 1fr);
  }
}

.grid {
  display: grid;
  gap: var(--space-4);
  grid-template-columns: repeat(2, minmax(0, 1fr));

  @include below(sm) {
    grid-template-columns: minmax(0, 1fr);
  }
}

.chart {
  gap: var(--space-5);
}
