@use '@/shared/styles/mixins' as *;

.root {
  @include shell;
  @include stack(var(--space-7));
}

.grid {
  display: grid;
  gap: var(--space-4);
  grid-template-columns: minmax(0, 1.25fr) repeat(2, minmax(0, 1fr));

  @include below(3xl) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @include below(xl) {
    grid-template-columns: minmax(0, 1fr);
  }
}
