@use '@/shared/styles/mixins' as *;

.root {
  @include well;
  @include stack(var(--space-4));

  padding: var(--space-4);
  margin: 0;
}

.legend {
  @include label;

  width: 100%;
  float: left;
}

.row {
  @include grid-columns(2, $below-md: 1);

  align-items: end;
}
