@use '../../../../../../shared/styles/gameface' as *;

.row {
  display: flex;
  flex-direction: column;
  margin-top: 1px;
}

.detail {
  margin-top: -1px;
  color: token(color-text-muted);
  font-size: 11px;

  @include ellipsis;
}

.indented {
  margin-left: 20px;
}
