@use '@/shared/styles/mixins' as *;

.root {
  display: grid;
  align-items: start;
  gap: var(--space-7);
  grid-template-columns: minmax(0, 3fr) minmax(0, 2fr);

  @include below(3xl) {
    grid-template-columns: minmax(0, 1fr);
  }
}

.garage {
  @include stack(var(--space-3));

  min-width: 0;

  > * {
    max-width: 100%;
  }
}

.params {
  @include stack(var(--space-2));
}
