@use '@/shared/styles/mixins' as *;

.positioner {
  z-index: var(--z-popover);
}

.popup {
  @include popup-surface;
  @include stack(var(--space-3));

  width: min(320px, calc(100vw - 32px));
  padding: var(--space-4);

  @include popup-motion;
}

.title {
  @include heading(var(--text-md));
}

.description {
  margin-top: calc(var(--space-2) * -1);
  color: var(--color-text-muted);
  font-size: var(--text-xs);
}
