@use '../../../../../shared/styles/gameface' as *;

.brand {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 24px;
}

.mark {
  margin-right: 10px;
  color: token(color-accent);
}

.text {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 20px;

  @include caps;
}

.subtitle {
  color: token(color-text-muted);
  font-size: 12px;
}
