@use '@/shared/styles/mixins' as *;

.root {
  @include stack(var(--space-3));
}

.panel {
  @include panel;
  @include stack(var(--space-5));

  max-width: 720px;
  padding: var(--space-5);

  @include below(md) {
    padding: var(--space-4);
  }
}
