@use '@/shared/styles/mixins' as *;

.root {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--space-3) var(--space-5);
}

.group {
  display: flex;
  min-width: 0;
  max-width: 100%;
  align-items: center;
  gap: var(--space-3);
}

.label {
  @include label;
}

.control {
  max-width: 100%;
  overflow-x: auto;

  @include hide-scrollbar;
}

.reset {
  margin-left: auto;
}
