@use '@/shared/styles/mixins' as *;

.header {
  padding: 0 var(--space-4);
}

.grid {
  @include grid-columns(4, $gap: var(--gap-panel), $below-3xl: 2, $below-sm: 1);

  padding: var(--space-3) var(--space-4) var(--space-4);
  margin: 0;
  list-style: none;
}
