@use '@/shared/styles/mixins' as *;

.root {
  @include stack(var(--space-2));
}

.list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  gap: var(--space-2);
  list-style: none;
}

.item {
  @include well;

  display: flex;
  align-items: center;
  padding: var(--space-1) var(--space-2);
  gap: var(--space-2);
}

.name {
  font-size: var(--text-sm);
}
