@use '../../../../../../shared/styles/gameface' as *;

.bar {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  justify-content: flex-start;
  background-color: rgb(255 255 255 / 10%);
}

.plain {
  justify-content: space-between;
  background-color: rgb(0 0 0 / 0%);
}

.mirrored {
  justify-content: flex-end;
}

.segment {
  display: flex;
  height: 100%;
  flex-direction: row;
  justify-content: flex-start;
  margin-right: 1px;
  background-color: rgb(255 255 255 / 8%);
}

.dead {
  background-color: rgb(255 255 255 / 4%);
}

.fill {
  height: 100%;
}

.gap {
  height: 100%;
  flex-shrink: 0;
}

.value {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  color: token(color-text);
  font-size: 13px;
  font-weight: 700;
  line-height: 1;
  white-space: nowrap;
}
