@use '@/shared/styles/mixins' as *;

.root {
  @include icon-button(22px);

  flex-shrink: 0;
  color: var(--color-text-dim);
  vertical-align: middle;

  :global(svg) {
    width: 15px;
    height: 15px;
  }
}
