@use '@/shared/styles/mixins' as *;

.search {
  width: min(100%, 360px);
}

.shown {
  @include source-line;
  @include numeric;

  white-space: nowrap;

  @include below(lg) {
    display: none;
  }
}
