@use '@/shared/styles/mixins' as *;

.root {
  display: grid;
  padding: 0;
  border: none;
  margin: 0;
  gap: var(--space-3);
  grid-template-columns: repeat(2, minmax(0, 1fr));

  @include below(sm) {
    grid-template-columns: 1fr;
  }
}

.legend {
  @include label;

  padding: 0;
  margin-bottom: var(--space-2);
}
