@use '@/shared/styles/mixins' as *;

.root {
  @include grid-columns(2, $gap: var(--space-3), $below-sm: 1fr);

  padding: 0;
  border: none;
  margin: 0;
}

.legend {
  @include label;

  padding: 0;
  margin-bottom: var(--space-2);
}
