@use '@/shared/styles/mixins' as *;

.root {
  @include page(var(--space-6));
}

.reset {
  @include label;

  display: inline-flex;
  align-items: center;
  font-family: var(--font-mono);
  gap: var(--space-1);
}

.grid {
  @include grid-columns(2, $below-4xl: 1);
}
