@use '@/shared/styles/mixins' as *;

.root {
  @include page(var(--space-6));
}

.reset {
  @include label;

  display: inline-flex;
  align-items: center;
  font-family: var(--font-mono);
  gap: var(--space-1);
}

.grid {
  display: grid;
  gap: var(--space-4);
  grid-template-columns: repeat(2, minmax(0, 1fr));

  @include below(4xl) {
    grid-template-columns: minmax(0, 1fr);
  }
}
